<div class="site-forms">

<h2>REGISTER</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="email">
  	<ul>
  	  <li><%= f.email_field :email %></li>
  	  <li><%= f.label :email %></li>
  	</ul>
  </div>

  <div class="password">
  	<ul>
      <li><%= f.password_field :password %></li>
      <li><%= f.label :password %></li>
    </ul>
  </div>

  <div class="password">
  	<ul>
      <li><%= f.password_field :password_confirmation %></li>
      <li><%= f.label :password_confirmation %></li>
    </ul>
  </div>
  
  <div class="form-submit">
  	<%= f.submit "SUBMIT" %>
    <% end %>
  </div>

<%= render "devise/shared/links" %>

</div>