<aside class="login five columns">
	<h2 class="fancy_title">Sign up</h2>
		<div class="login">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>
		
		  <div>
		  		<%= f.label :email %><br />
		  		<%= f.email_field :email %>
		  </div>
		  <div>
		  		<%= f.label :password %><br />
		  		<%= f.password_field :password %>
		  </div>

		  <div>
		  		<%= f.label :password_confirmation %><br />
		 		<%= f.password_field :password_confirmation %>
		  </div>
		  <div class="submit">
		  	<%= f.submit "Sign up" %>
		  </div>
		<% end %><!--end of form -->
		
			<%= render "devise/shared/links" %>
	
		</div><!--end of login-->

</aside>