<p id="notice"><%= notice %></p>

<div class="profile-container">
	
	<div class="profile-title">YOUR PROFILE</div>
<table>	
	
<div class="avatar">
  <tr>
    <td><%= image_tag @userprofile.user.gravatar_url, :style => "width:48px;height:48px;" %></td>
  </tr>
</div>

<div class="firstname">
  <tr>
    <td>Firstname:</td>
    <td><%= @userprofile.firstname %><td>
  </tr>
</div>

<div class="lastname">
  <tr>
    <td>Lastname:</td>
    <td><%= @userprofile.lastname %></td>
  </tr>
</div>

<div class="user-email">
  <tr>
    <td>Email:</td>
    <td><%= @userprofile.email %></td>
  </tr>
</div>

<div class="address">
  <tr>
    <td>Address:</td>
    <td><%= @userprofile.address %></td>
  </tr>
</div>

<div class="phonenumber">
  <tr>
    <td>Phone number:</td>
    <td><%= @userprofile.phone_number %></td>
  </tr>
</div>

<div class="userdob">
  <tr>
    <td>Date of birth:</td>
    <td><%= @userprofile.date_of_birth %></td>
  </tr>
</div>

<div class="useruser">
  <tr>
    <td>User:</td>
    <td><%= @userprofile.user %></td>
  </tr>
</div>
</table>
<p id="profile-bottom-links"><%= link_to 'Edit', edit_userprofile_path(@userprofile) %> |
<%= link_to 'Back', userprofiles_path %></p>

</div>