<p id="notice"><%= notice %></p>

<p>
  <b>Item1:</b>
  <%= @ariaquenupload.item1 %>
</p>

<p>
  <b>Item2:</b>
  <%= @ariaquenupload.item2 %>
</p>

<p>
  <b>Item3:</b>
  <%= @ariaquenupload.item3 %>
</p>

<p>
  <b>Uploadedimage:</b>
  <%= @ariaquenupload.uploadedimage %>
</p>


<%= link_to 'Edit', edit_ariaquenupload_path(@ariaquenupload) %> |
<%= link_to 'Back', ariaquenuploads_path %>
