<h1>Product Catalog by Category</h1>
<br />
<h2><%= @product_category %></h2>
<table class="catalog">
<% @products.each do |product| %>
<tr>
<td>
<div class="image">
<%= link_to (image_tag product.image_url1, :style => "height:100px"), product %>
</div>
</td>
<td>
<div class="title">
<%= link_to product.product_name, product %>
</div>
<div class="description">
<%=h product.product_detail %>
</div>
<div class="price">
<%= number_to_currency(product.price, :unit => "&euro;") %>
</div>
<div class="links">
<% if session[:login] == 1 %>
<%= link_to 'Edit',
edit_product_path(product) %> |
<%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %>
<% else %>
<a href="/cart/<%= product.id %>">Add to Cart</a><br><br>
<% end %>
</div>
</td>
</tr>
<% end %>
</table>
<% if session[:login] == 1 %>
<p><%= link_to 'New product', new_product_path %></p>
<% end %>