<!DOCTYPE html>
<html>
<head>
  <title>Ariaquen</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="../assets/bjqs-1.3.js"></script>
  <script src="../assets/jquery.js"></script>
  <script src="../assets/index.js"></script>
  <script src="../assets/skel.min.js"></script>
  <script src="../assets/skel-panels.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <%= stylesheet_link_tag    "main", :media => "all" %>


  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p> 
<p class="alert"><%= alert %></p>

<section id="loginbox">
	<% if user_signed_in? %> 
 		<div>Signed in as... <%= current_user.email %> (<%= link_to 'Sign out', destroy_user_session_path, :method => :delete  %>)</div> 
	<% else %> 
 		<%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %> 
	<% end %> 
<div class="session">
	<ul>
		<li><%= link_to 'Login', new_user_session_path %></li> 
		<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
	</ul>
</div>
</section>
<%= yield %>

<p class="test">yolo</p>
  <%= javascript_include_tag "application" %>




<% if user_signed_in? %> 
 <div>Signed in as... <%= current_user.email %> (<%= link_to 'Sign out', destroy_user_session_path, :method => :delete 
 %>)</div> 
<% else %> 
 <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %> 
<% end %> 

<li><%= link_to 'Login', new_user_session_path %></li> 
<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>

<%= javascript_include_tag "application" %>

</body>
</html>
