<!DOCTYPE html>
<html>
<head>
	<!--[if !IE 7]><style type="text/css"> #wrap {display:table;height:100%}</style><![endif]-->
  <title>Ariaquen</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <!-- we need to separate out the Javascript into the pages specificallly where they are needed -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="../assets/bjqs-1.3.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="../Scripts/jquery.ui.map.js"></script>


  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %> 
	<div id="wrap" class="container">
		
		

	<main id="main" role="main">
		<div class="alerts">
				<p class="notice"><%= notice %></p> 
				<p class="alert"><%= alert %></p>
		</div>
		<%= yield %>
	
	</main>
</div><!--end of wrap-->

<%= render 'layouts/footer' %>

<section class="javascript_includes">
	

  <%= javascript_include_tag "application" %>
  
  <%= javascript_include_tag "libs/jquery.lettering.js" %>
  
</section>


</body>
</html>
